body{
display: flex;    
justify-content: center;
align-items: center;
height:100vh ;



}
.container{
border: 1px solid;
width:400px ;
height: 300px;
padding: 20px; 
border-radius: 4px;
background-color:blueviolet;
}


.top{

display: flex;
align-items:center ;


}
#nameinput{

  margin-right: 100px; 
  width: 150px; 
  border: radius 4px; 
  
}
#formDetailsDisplay{
display: flex;
align-items: center;
justify-content: space-between;



}
#regNo{

  margin-top: 10px;
  margin-bottom: 10px;
}
.error{

  color: red;
}